.hero-section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.hero-img {
    max-width: 500px;
    align-self: center;
    justify-self: center;
}

.hero-header {
    margin-bottom: 15px;
}

.hero-text {
    margin-top: 0;
}
